body{
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
}
h1{
    font-size: 50px;
    color: midnightblue;
}
h2{
    font-size: 40px;
}
h4{
    font-size: 25px;
    color: lightseagreen;
}
p{
    color: dimgrey;
}
.name-highlight {
    color: red;
}
.half-w{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-w img{
    width: 100%;
}
.point-1{
    font-size: 200%;
    color: seagreen;
}
.top-banner{
       background-image: url("images/top-banner.png");
       background-repeat: no-repeat;
}
section{
    height: 600px;
    padding-bottom: 150px;
}
.link-button{
    background-image: linear-gradient(50deg, Lightsalmon, tomato);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;  
}
.twitter-area{
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;
}